{% extends 'plumber_app/base.html' %}

{% load static %}
{% block title %}
FixingGuru | Contact to Fixers
{% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url( {% static 'plumber_app/img/bg-img/12.jpg' %} );">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Contact</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Contact Area Start ***** -->
  <section class="dento-contact-area mt-50 mb-100">
    <div class="container">

      <div class="row">
        <!-- Contact Information -->
        <div class="col-12 col-md-4">
          <div class="contact-information">
            <h5>Address</h5>
            <p>Jamal, Kathmandu 44600 NEPAL</p>

            <h5>Phone</h5>
            <p>+977. 2252. 2250. 122</p>

            <h5>Fax</h5>
            <p>+977. 2252. 2250. 125</p>

            <h5>Email</h5>
            <p class="mb-0">info.plumber@gmail.com</p>
          </div>
        </div>
        <!-- Contact Form -->
        <div class="col-12 col-md-8">
            <div class="card text-center">
                <div class="card-header">
                  Review Your Information
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <h5 class="card-title">Special title treatment</h5>
                  <h5 class="card-title">Special title treatment</h5>
                  <h5 class="card-title">Special title treatment</h5>

                </div>
                <div class="card-footer text-muted">
                  We will Call back you Soon for Confirmation.
                </div>
              </div>
        </div>
    </div>  
  </section>
  <!-- ***** Contact Area End ***** -->
{% endblock %}